<div class="container-fluid">
  <div class="row">
    <!-- Users Profile Section -->
    <div style="min-height: 93vh; background-color: rgb(170, 170, 51);" class="col-md-2 p-3">
      <h3>{{username}} Profile</h3>
      <!-- Add your admin profile details here -->
      <!-- For example, name, email, etc. -->
      <button style="width: 100%;" class="btn btn-primary mt-3" (click)="onTabClick(0)">Apply Policy</button> <br>
      <button style="width: 100%;" class="btn btn-primary mt-3" (click)="onTabClick(1)">Ask Question</button> <br>
    </div>

    <!-- Policy / users questions Section -->
    <div class="col-md-9">
      <!-- Apply Policies Section -->
      <div>
        <app-apply-policy *ngIf="tabIndex === 0"></app-apply-policy>
      </div>

      <div>
        <app-user-question *ngIf="tabIndex=== 1"></app-user-question>
      </div>
    </div>

  </div>
</div>