.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 100000;
    border-radius: 0;
    margin-bottom: 0px;
    top: 0px;
    background: #004098;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand{
    color: #ffffff;
}
.navbar-light .navbar-brand:hover{
    color: #ffffff;
}
.navbar .AmazonLogo{
    width: 20%;
    margin-left: 3rem;
}
#navbarNav{
    margin-right: 3rem;
}
.navbar .collapse .part1{
    width: 50%;
}
#navbarNav .part2{
    width: 35%;
}
.navbar .collapse .part3{
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}