<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/image 9.jpg" class="d-block w-100" alt="no image">
        </div>
        <div class="carousel-item">
            <img src="../../assets/image6.jpg" class="d-block w-100" alt="no image">
        </div>
        <div class="carousel-item">
            <img src="../../assets/image 8.jpg" class="d-block w-100" alt="no image">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="flex-images">
    <div class="card1">
        <img src="../../assets/image10.jpg" alt="no image" /><br>
        <h5>Life Insurance</h5>
    </div>
    <div class="card1">
        <img src="../../assets/image20.png" alt="no image" />
        <h5>Health Insurance</h5>
    </div>
    <div class="card1">
        <img src="../../assets/image14.jpg" alt="no image" />
        <h5>Home Insurance</h5>
    </div>
    <div class="card1">
        <img src="../../assets/image23.jpg" alt="no image" /><br>
        <h5>Car Insurance </h5>
    </div>
    <div class="card1">
        <img src="../../assets/image16.jpg" alt="no image" />
        <h5>Traval Insurance</h5>
    </div>
    <div class="card1">
        <img src="../../assets/image22.png" alt="no image" />
        <h5>Retairment Plans</h5>
    </div>
</div>



<div class="main-info">
    <div class="sub-main-info">
        <h4>What is Life Insurance Policy and its benefits?</h4>
        <p>A life insurance policy is a contract between a policyholder and an insurance company. In a life insurance
            policy, the insurance company promises to pay a sum of money to the loved ones of the policyholder in case
            of death of the policyholder during a certain period. In return, the policyholder pays a small amount as
            premium to the insurance company.</p>
    </div>
    <div class="main-info-img">
        <img src="../../assets/image 1.jpg" />
    </div>

</div>



<div class="main-text">

    <div class="sub-main-text">
        <h4>Policy Advantage</h4>
        <p>When you buy insurance from us, you get more than just financial safety. You also get: our promise of
            simplifying complex insurance terms and conditions, quick stress-free claims, instant quotes from top
            insurers and being present for you in the toughest of times.</p>
    </div>

    <div class="main">

        <div class="sub-main">
            <div class="card2">
                <img src="../../assets/im6.png" />
                <h6> One of the best Prices </h6>
                <p>Guaranteed</p>
            </div>

        </div>
        <div class="sub-main">
            <div class="card2">
                <img src="../../assets/im5.png" />
                <h6>Unbiased Advice</h6>
                <p>Keeping customers first</p>
            </div>

        </div>
        <div class="sub-main">
            <div class="card2">
                <img src="../../assets/img7.jpg" />
                <h6>100% Reliable </h6>
                <p>Regulated by IRDAI</p>
            </div>

        </div>
        <div class="sub-main">
            <div class="card2">
                <img src="../../assets/im3.png" />
                <h6> Claims Support </h6>
                <p>Made stress-free</p>
            </div>

        </div>
        <div class="sub-main">
            <div class="card2">
                <img src="../../assets/im4.jpg" />
                <h6> Happy to Help</h6>
                <p>Every day of the week</p>
            </div>

        </div>

    </div>
</div>
<div class="partner">
    <h2 class="text">Our Partners</h2>

    <h5 class="text">Leading insurers for your financial freedom</h5>

    <img src="../../assets/image11.jpg" alt="no image" object-fit="cover" />
</div>
